# server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# database
MONGODB_URI=mongodb+srv://doctorly-admin:eB4FA7AdkmhxNkil@knight-cluster.bypaq.mongodb.net/doctorly?appName=knight-cluster
MONGODB_URI_USER=doctorly-admin
MONGODB_URI_PASS=eB4FA7AdkmhxNkil
MONGODB_DB_NAME=doctorly
